@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;700&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Nunito' sans-serif;
    scroll-behavior: smooth;   
}
body{
    /* position: relative; */
    background-color: #fff;
    scroll-behavior: smooth;
}
:root{
    --green:rgb(99, 235,142);
    --black: rgb(7,7,41);
}
::-webkit-scrollbar{
    width: 10px;
}
::-webkit-scrollbar-track{
    background:rgba(28,230,92,0.377);
    
}
::-webkit-scrollbar-thumb{
    background: var(--green);
}
::selection{
    background: var(--green);
    color:var(--black);
    animation: selec 5s;
}
/* @keyframes selec{
    0%{
        filter:hue-rotate(0deg);
        background: red;
    }
    100%{
        filter:hue-rotate(0deg);
        background:var(--black);
    }
} */

/* header */
.container{
    padding: 0 10%;

}

header .nav-bar-1{
    width: 100%;
    background-color: var(--green);
    padding: 5px 0;
}
header{
    width:100%;
    transition: .4s;
    box-shadow: 1px 3px 7px #0001;

}
header .nav-bar-1 .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 40px;
}
header .nav-bar-1 .logo{
 font-size: 2rem;
 font-weight: bold;
 color: white;

}
header .nav-bar-1 .search{
    position: relative;

}
header .nav-bar-1 .search input{
    width: 220px;
    padding: 5px 30px 5px 10px;
    outline: none;
}
header .nav-bar-1 .search .fas{
    /* color: var(--green);
font-size: 1.2rem; */
position: absolute;
right: 10px;
top: 7px;
}
header .nav-bar-2{
    padding: 0 10%;
    display: flex;
    justify-content: space-between;
    background-color: var(--black);
}
header .nav-bar-2 .nav, .icons{
    list-style: none;
    display: flex;
    
}
 header .nav-bar-2 .nav li,.icons li{
    padding: 5px 10px;
    cursor: pointer;
    color: #fff;
    transition: .3s;
    text-transform: capitalize;
} 
header .nav-bar-2 .nav li:hover , .icons li:hover{
    color: var(--green);
}



/* home */
.home{
    /* background-color:aqua; */
    width: 100%;
    min-height:80vh;
    background-size: cover;
    position: relative;
    background-color: #fff;
}
.home .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}
.home .imgBx{
    width: 500px;
    height: 500px;
}
.home .imgBx img{
    max-width: 500px;
}
.home .content {
    width: 50%;

}
.home .content p{
    font-size: 2rem;
    padding: 10px 0;
    text-align: left;
    color: #111;
}
.home .content h1{
    padding: 10px 0;
    font-size: 3.5rem;
    line-height: 3.5rem;
    text-transform: uppercase;
    color: var(--black);

}
.home .content h1 span{
    color: var(---green);
}
a.btn{
    font-size: 1rem;
    padding: 5px 20px;
    /* margin: 10px 0; */
    text-align: center;
    background-color: var(--green);
    color: #fff;
    text-decoration: none;
    text-transform: capitalize;
    transition: 0.3s;


}
a.btn:hover{
    background: var(--black);
    color: var(--green);
}
/* special offers */
.offers{
    width: 100%;
    padding: 30px 0;

}
.title{
    width: 100%;
    text-align: center;
    padding: 20px 0;
}
.title h2{
    font-size: 2rem;
    text-transform: uppercase;
    color: var(--black);
    font-weight: bolder;

}
.title h2 span{
    color: var(--green);
}
/* .title1{
    width: 100%;
    text-align: left;
    padding: 20px 0;
}  */
.field{
    display: flex;
    gap: 20px;
    /* background-color: #a44141; */
}
.field .box{
    flex: 1 1 5rem;
    height: 250px;
    border: 1px solid var(--black);
    background-repeat: 7px;
    overflow:hidden;
    position: relative;
}
.field .box .content{ 
    position: absolute;
    text-align: right;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    z-index: 1111;

}
.field .box .imgBx{
    width: 100%;
    height: 100%;

}
.field .box .imgBx img{
    width: 100%;
    max-height:100%;
    object-fit:cover;  
    transition: .3s;
}
.field .box .content h2{
    font-size: 2rem;
    color: var(--black);
    text-transform: capitalize;
    padding: 5px px;
}
.field .box .content p{
    font-size: 1rem;
    color: var(--black);
    text-transform: capitalize;
    padding: 10px 0;


}
.field .box:hover .imgBx img{
    transform: scale(1.03);
}
/* shop by catagory */
/* category */
.category{
    width: 100%;
    padding: 40px 0;
    background-color: #fff;
}
.category .field{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    padding: 20px 0;
}

.category .field .box img{
    max-width: 200px;
    max-height: 150px;
    align-self: center;
    transition: .3s;
    z-index: 0;
}
.category .field .box{
    flex: 1  13rem;
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-bottom: 0;
    background-color: #fff;
}
.category .field .box h2{
    font-size: 1.2rem;
    color: var(--black);
    text-transform: capitalize;
    z-index: 11;
}
.category .field .box p{
    padding: 0;
    font-size: 1rem;
    color: var(--black);
    z-index: 11;
}
.category .field .box img{
    max-width: 200px;
    max-height: 150px;
    align-self: center;
    transition: .3s;
    z-index: 0;
}
.category .field .box img:hover{
    animation: rot .5s linear;
 

}
@keyframes rot {
    0%{
        transform: rotate(0deg);
    }
    25%{
        transform: rotate(12deg) scale(1.032);
        
    }
    75%{
        transform: rotate(-12deg) scale(1.032);
        
    }
    100%{
        transform: rotate(0deg);
    }
}
.category .field .box a.btn{
    display: block;
    /* align-self: baseline; */
   margin-top: 20px;

    
}